h3{
    color: olivedrab;
    font-family: cursive;
}
img{
    height: 350pt;
    width: 750pt;
}
h1{
    color: crimson;
    font-family: Georgia;
}
h2{
    color: goldenrod;
    font-family: Verdana;
}